@tailwind base;
@tailwind components;
@tailwind utilities;

.fadding-border::after {
  content: "";
  position: absolute;
  z-index: 3;
  inset: 0;
  width: calc(100% + 2px);
  height: calc(100% + 1px);
  top: -1px;
  left: -1px;
  padding: 1px;
  border-radius: 9px;
  background: linear-gradient(to bottom, #7c60c1, #6648b2);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.fadding-border::before {
  content: "";
  position: absolute;
  z-index: 2;
  inset: 0;
  width: calc(100%);
  height: calc(100%);
  top: 0;
  left: 0;
  padding: 1px;
  border-radius: 8px;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.12),
    transparent
  );
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}
